body{
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0
}

p {
    font-family: monospace;
    color:white;
    margin-left: 5px;
    margin-top: 5px;
}

#display {
    width: 100vh;
    height: 100vh;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}